.title {
  color: #000000;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 45px;

  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.menu {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 15px;
  text-align: center;
}
